@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 42px;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background: $body-bg;
  @include flexCenter;
  flex-direction: column;
  padding-bottom: 60px;
}
